.paymentContainer {
    background-color: var(--grey);
    padding: 1rem;
    border-radius: 10px;
    margin-bottom: 0.7rem;
}

.enterAmountContainer {
    background-color: transparent;
}

.enterAmount {
    background-color: transparent;
    font-size: var(--small-font);
    color: var(--grey-font);
}

.amountContainer {
    background-color: transparent;
    margin-bottom: 2rem;
}

.amountEnterdTxt {
    background-color: transparent;
}

.creditCardContainer {
    border-radius: 10px;
    padding: 0.9rem 0.6rem;
    margin-bottom: 0.5rem;
}

.payWithContainer {
    background-color: transparent;
    margin-bottom: 0.8rem;
}

.payWithTxt {
    font-size: var(--small-font);
    color: var(--grey-font);
}

.paymentOptionContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
}

.switchCardContainer {
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: transparent;
}

.cardDetailsTxt {
    font-weight: bold;
    font-size: var(--small-font);
    background-color: transparent;
    margin-left: 0.2rem;
}

.withdrawContainer {
    background-color: goldenrod;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}

.withdrawTxt {
    background-color: transparent;
    color: black;
    font-size: var(--small-font);
    padding: 0.6rem 0rem;
}

.reactSwitch {
    color: pink;
}

@media (max-width: 1140px) {
    .paymentContainer {
        padding: 0.8rem;
        margin-bottom: 0.8rem;
    }
}

@media (max-width: 1080px) {
    .paymentContainer {
        padding: 0.8rem;
        margin-bottom: 0.65rem;
    }
}

@media (max-width: 1060px) {
    .paymentContainer {
        padding: 0.65rem 0.8rem;
        margin-bottom: 0.65rem;
    }
}

@media (max-width: 1000px) {
    .paymentContainer {
        padding: 0.6rem 0.8rem;
        margin-bottom: 0.65rem;
    }
}

@media (max-width: 985px) {
    .amountEnterdTxt {
        background-color: transparent;
        font-size: 1.3rem;
    }

    .amountContainer {
        background-color: transparent;
        margin-bottom: 1.5rem;
    }
}