.satContainer {
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    margin-bottom: 2rem;
}

.headerTitleContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    margin-left: 1rem;
}

.satTitle {
    background-color: transparent;
    font-size: var(--medium-font);
    font-weight: bold;
}

.tabSATContainer {
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tabSAT {
    background-color: transparent;
    font-size: var(--small-font);
    color: var(--grey-font);
    margin-right: 2rem;
}

.tabSAT1 {
    background-color: transparent;
    font-size: var(--small-font);
    text-decoration: underline;
    margin-right: 2rem;
}

@media (max-width: 500px) {
    .satTitle {
        font-size: 0.85rem;
    }

    .tabSAT {
        margin-right: 1.4rem;
    }

    .tabSAT1 {
        margin-right: 1.4rem;
    }
}

@media (max-width: 380px) {
    .satTitle {
        font-size: 0.7rem;
    }

    .tabSAT {
        margin-right: 1.4rem;
    }

    .tabSAT1 {
        margin-right: 1.4rem;
    }
}