.balanceItemContainer {
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem 1rem;
    border-radius: 10px;
    margin-bottom: 0.7rem;
}

.iconContainer {
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    margin-right: 1.8rem;
}

.balIcon {
    width: 1.5rem;
    height: 1.5rem;
}

/* Balance Rate */
.balanceRateContainer {
    background-color: transparent;

}

.balTitle {
    color: black;
    font-weight: bold;
    font-size: var(--small-font);
    background-color: transparent;
    margin-bottom: 0.4rem;
}

.balance {
    background-color: transparent;
    color: black;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.balRate {
    margin-left: 0.4rem;
    background-color: grey;
    color: white;
    border-radius: 10px;
    font-size: 0.45rem;
    padding: 0.2rem 0.45rem;
}
/* Balance Rate End */

@media (max-width: 1060px) {
    .balanceItemContainer {
        width: 43%;
    }
}

@media (max-width: 920px) {
    .balance {
        font-size: 1.5rem;
    }
}

@media (max-width: 780px) {
    .balance {
        font-size: 1.4rem;
    }

    .balanceItemContainer {
        padding: 1.2rem 0.8rem;
    }
}

@media (max-width: 600px) {
    .balance {
        font-size: 1.3rem;
    }

    .balanceItemContainer {
        padding: 1.0rem 0.8rem;
    }

    .iconContainer {
        width: 2rem;
        height: 2rem;
        margin-right: 1.6rem;
    }

    .balIcon {
        width: 1.0rem;
        height: 1.0rem;
    }
}

@media (max-width: 520px) {
    .balance {
        font-size: 1.1rem;
    }
}

@media (max-width: 500px) {
    .balance {
        font-size: 1.0rem;
    }

    .balanceItemContainer {
        padding: 0.9rem 0.6rem;
    }

    .iconContainer {
        width: 1.8rem;
        height: 1.8rem;
        margin-right: 1.4rem;
    }

    .balIcon {
        width: 0.9rem;
        height: 0.9rem;
    }
}