.tabContainer {
    width: 100%;
    display: flex;
    margin-bottom: 2rem;
}

.tabContentContainer {
    width: 72%;
    display: flex;
    padding-left: 3rem;
}

.tab0 {
    font-weight: bold;
    margin-right: 3rem;
    font-size: var(--medium-font);
}

.tabs {
    color: var(--grey-font);
    margin-right: 3rem;
    font-size: var(--medium-font);
}

.manageContainer {
    width: 20%;
    display: flex;
    justify-content: center;
}

.manageTxt {
    font-size: var(--medium-font);
    text-decoration: underline;
}


@media (max-width: 700px) {
    .tab0 {
        font-size: 0.85rem;
        margin-right: 1.5rem;
    }

    .tabs {
        font-size: 0.8rem;
        margin-right: 1.5rem;
    }

    .manageTxt {
        font-size: 0.8rem;
        font-weight: 700;
    }
}