.tabContainer {
    width: 100%;
    display: flex;
    margin-bottom: 2rem;
}

.tabContentContainer {
    width: 80%;
    display: flex;
    padding-left: 3rem;
}

.tab0 {
    font-weight: bold;
    margin-right: 3rem;
    font-size: var(--medium-font);
}

.tabs {
    color: var(--grey-font);
    margin-right: 3rem;
    font-size: var(--medium-font);
}

.manageContainer {
    width: 20%;
    display: flex;
    justify-content: center;
}

.manageTxt {
    font-size: var(--medium-font);
    text-decoration: underline;
}
