.navItemContainer {
    display: flex;
    align-items: center;
    margin-bottom: 0.8rem;
}

.navIcon {
    width: 0.9rem;
    height: 0.9rem;
    margin-right: 1rem;
}

.navIconClosed {
    margin: auto;
    width: 1.2rem;
    height: 1.2rem;
}

