.navItemContainer {
    display: flex;
    align-items: center;
    margin-bottom: 0.8rem;
}

.navItemContainer:hover {
    cursor: pointer;
}

.navItemContainerClosed {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.navItemContainerClosed:hover {
    cursor: pointer;
}

.navIcon {
    width: 0.9rem;
    height: 0.9rem;
    margin-right: 1rem;
}

.navTitle {
    display: block;
    transition: display ease-in 0.5s, color ease-in 0.2s;
    color: var(--lighgrey);
}

.navTitle:hover {
    color: white;
}

.navTitleClosed {
    display: none;
    transition: all ease-in 0.2s;
}

.navIconClosed {
    margin: auto;
    width: 1.2rem;
    height: 1.2rem;
    transition: all ease-in 0.2s;
}

.navIconClosed:hover {
    width: 1.5rem;
    height: 1.2rem;
}

@media (max-width: 800px) {
    .navTitle {
        font-size: 0.8rem;
    }
}

@media (max-width: 700px) {
    .navTitle {
        font-size: 0.65rem;
    }
}

@media (max-width: 500px) {
    .navIcon {
        width: 0.7rem;
        height: 0.7rem;
        margin-right: 0.8rem;
    }
}