/* SIDENAV CONTAINER */
.sideNavContainer {
    height: 100vh;
    border-right: 1px groove var(--border-color);
    padding-left: 1rem;
}
/* SIDENAV CONTAINER END */

/* TITLE CONTAINER */
.titleContainer {
    display: flex;
    padding: 1rem;
    align-items: center;
    justify-content: space-between;
}

.titleContainer .title {
    font-family: cursive;
    font-size: 1.3rem;
    text-align: center;
}

.hamContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}
/* END */

