/* MAIN */
.mainStyle {
    width: 87%;
}

.mainStyleClosed {
    width: 95%;
}
/* MAIN CLOSED */

/* SIDENAV CONTAINER */
.container {
    display: flex;
}

.sideNavContainer {
    height: 100vh;
    border-right: 1px groove var(--border-color);
    padding-left: 1rem;
    padding-right: 1rem;
    width: 17%;
    transition: all ease-in 0.2s;
}

.sideNavContainerClosed {
    height: 100vh;
    width: 5%;
    border-right: 1px groove var(--border-color);
    padding-left: 1rem;
    padding-right: 1rem;
    transition: all ease-in 0.3s;
}
/* SIDENAV CONTAINER END */

/* TITLE CONTAINER */
.titleContainer {
    display: flex;
    padding: 1rem;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.2rem;
}

.titleContainer .title {
    font-family: cursive;
    font-size: 1.3rem;
    text-align: center;
}

.hamContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}
/* END */

/* SECTION TITLE */
.sectionTitleContainer .sectionTitle {
    font-size: var(--medium-font);
    color: var(--grey-font);
    margin-bottom: 0.8rem;
}

.sectionTitleContainer .sectionTitleClosed {
    font-size: var(--small-font);
    color: var(--grey-font);
    margin-bottom: 1rem;
    text-align: center;
}
/* SECTION TITLE END */

/* NAVS CONTAINER */
.navsContainerClosed {
    margin-bottom: 2rem;
}
/* NAVS CONTAINER END */

/* HR */
hr {
    margin: 1.4rem auto;
    margin-right: 0.5rem;
    color: var(--border-color);
}
/* HR END */