
.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid var(--lighgrey);
    height: 8vh;
}

.inputContainer {
    width: 50%;
    padding-left: 3rem;

}

.input {
    width: 50%;
    border: none;
    background-color: var(--grey);
    padding: 0.1rem 0.6rem;
    padding-left: 0.8rem;
    border-radius: 30px;
    color: white;
    font-size: 0.5rem
    /* var(--small-font); */
}

.input::placeholder {
    color: white;
    font-size: 0.4rem;
}

.searchIcon {
    background-color: transparent;
    background-size: 0px;
    backdrop-filter: inherit;
}

.headerDetailsContainer {
    display: flex;
    width: 50%;
    justify-content: flex-end;
    align-items: center;
    padding-right: 3rem;
}

.usernameContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    margin-right: 1rem;
}

.username {
    font-size: var(--medium-font);
    font-weight: 600;
}

.rank {
    font-size: var(--small-font);
    color: var(--grey-font);
}


.profilePicContainer {
    height: 1.8rem;
    width: 1.8rem;
    border-radius: 50%;
    background-color: plum;
    display: flex;
    justify-content: center;
    align-items: center;
}

.userInitials {
    background-color: transparent;
    color: black;
    text-align: center;
    font-weight: 500;
}