
.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid var(--lighgrey);
    height: 8vh;
    margin-bottom: 2rem;
}

.inputContainer {
    width: 50%;
    padding-left: 3rem; 

}

.input {
    width: 50%;
    border: none;
    background-color: var(--grey);
    padding: 0.1rem 0.6rem;
    padding-left: 0.8rem;
    border-radius: 30px;
    color: white;
    font-size: 0.5rem
    /* var(--small-font); */
}

.input::placeholder {
    color: white;
    font-size: 0.4rem;
}

.searchIcon {
    background-color: transparent;
    background-size: 0px;
    backdrop-filter: inherit;
}

.headerDetailsContainer {
    display: flex;
    width: 50%;
    justify-content: flex-end;
    align-items: center;
    padding-right: 3rem;
}

.notificationContainer {
    position: 'relative';
    /* margin: 0px 1rem; */
}

.numOfNotification {
    display: inline;
    font-size: 0.5rem;
}

/* LANGUAGE OPTIONS */
select {
    border: none;
    font-weight: 600
}

option {
    font-size: var(--small-font);
}

.langOptionContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1.5rem;
}


/* LANGUAGE OPTIONS END */

/* VERTIVAL RULE */
.hr {
    width: 1.2rem;
    background-color: var(--grey-font);
    margin: 0px 0.9rem;
    transform: rotate(90deg);
}
/* VERTICAL RULE END */

/* USERNAME AND ADMIN STATUS */
.usernameContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    margin-right: 1rem;
}

.username {
    font-size: var(--medium-font);
    font-weight: 600;
}

.rank {
    font-size: var(--small-font);
    color: var(--grey-font);
}

/* USERNAME AND ADMIN STATUS END */

.profilePicContainer {
    height: 1.8rem;
    width: 1.8rem;
    border-radius: 50%;
    background-color: plum;
    display: flex;
    justify-content: center;
    align-items: center;
}

.userInitials {
    background-color: transparent;
    color: black;
    text-align: center;
    font-weight: 500;
}