.rhsContainer {
    width: 20%;
    margin-left: 1rem;
    /* display: flex;
    flex-direction: column;
    justify-content: space-between; */
}

.analyseButtonContainer {
    background-color: goldenrod;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    border-radius: 10px;
}

.printTxt {
    background-color: transparent;
    color: black;
    font-weight: 600;
    font-style: italic;
    margin-left: 0.5rem;
}