.rhsContainer {
    width: 20%;
    margin-left: 1rem;
    /* display: flex;
    flex-direction: column;
    justify-content: space-between; */
}

.analyseButtonContainer {
    background-color: goldenrod;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    border-radius: 10px;
}

.analyseButtonContainer:hover {
    cursor: pointer;
}

.printTxt {
    background-color: transparent;
    color: black;
    font-weight: 700;
    font-size: 0.75rem;
    /* font-style: italic; */
    margin-left: 0.5rem;
}

@media (max-width: 1195px) {
    .analyseButtonContainer {
        padding: 0.8rem;
    }
}

